{% extends "base.html" %}

{% block title %}{{ obj.name }} - TwinCAT Method Documentation{% endblock %}

{% block content %}
<div class="doc-section">
    <h1 class="doc-section-title">{{ obj.name }}</h1>
    
    <div class="doc-item">
        <span class="badge badge-primary">Method</span>
        {% if obj.accessModifier %}
        <span class="badge badge-info">{{ obj.accessModifier }}</span>
        {% endif %}
    </div>
    
    {% if obj.returnType %}
    <div class="doc-item">
        <span class="doc-item-name">Return Type:</span>
        <span class="doc-item-type">{{ obj.returnType }}</span>
    </div>
    {% endif %}
    
    {% include "tcdocumentation.html" %}
    
    {% include "tcvariable_section.html" %}
    
    {% if obj.implementation %}
    <div class="doc-section">
        <h3 class="doc-section-title">Implementation</h3>
        <pre><code>{{ obj.implementation }}</code></pre>
    </div>
    {% endif %}
</div>
{% endblock %}
